<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="author" href="http://toolmantim.com/" title="Tim Lucas">
  </head>
  <body>
    <article class="login-page">
      <h1>Login</h1>
      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>
      <form action="/login" method="post">
        <p>
          <label>Email <input type="email" name="email" placeholder="you@email.com" required></label>
        </p>
        <p>
          <label>Password <input type="password" name="password" placeholder="xxxxx" required></label>
        </p>
        <p>
          <input type="submit" value="Login">
        </p>
      </form>
    </article>
  </body>
</html>
